@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto+Slab:300,400');


// Global Imports
// ==========================================================================
// Global Variables and mixins
@import 'partials/variables';
@import 'partials/mixins';

// partials
@import 'partials/base';




$logoBlue: #0c57ec;
$darkerBlue: #2b4b98;
$backgroundWhite: #ffffff;
$backgroundGrey: #ebebeb;
$color-headlines: #192d53;
$green:#2ecc71;
$color-icons:#778ca3;

$font-main:'Lato', sans-serif;
$header-font:'Roboto Slab', serif;


p{
  font-family: $font-main;
  font-size: 20px;
  line-height: 30px;
  font-weight:300;

  @media only screen and (max-width: 768px) {
    text-align: center;
  }
}

.mobile-header{
  color:white;
}

.navbar{
  background-color: $logoBlue;
  margin-bottom: 0 !important;
  border-radius: 0;

 .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar-brand{
    font-size: 18px;
    font-family: $font-main;
    font-weight: 300;
  }


 .navbar-collapse {
    text-align: center;
  }

    a{
      font-size: 20px;
      color:$backgroundGrey;
      letter-spacing: 1px;
    }


    .icon-bar{
      background-color: $backgroundGrey;

    }
}

.no-round-corners{
  border-radius: 0 !important;
}


.logo-header{
  background-color:$color-headlines;

  .au-logo{
  width: 100%;
  margin: 10% 0;
  }

  .header-headline{
    color:$backgroundGrey;
    font-family: $font-main;
    font-weight: 300;
    font-size: 3.5vw;
    margin: 5.5% 0 0 0;
  }

}

@media only screen and (max-width: 768px) {
    .display-desktop{
    display: none;
    }

}

@media only screen and (min-width: 769px) {
    .display-mobile{
    display: none;
    }
}


.display-mobile-small{
  margin-left: 20%;
  @media only screen and (min-width: 767px) {
      display: none;
      }
}

.hero-slider {
padding:0 !important;
}


.headline {
  font-family: $header-font;
  font-size: 65px;
  line-height: 75px;
  padding:5% 0;
  font-weight: 300;
  color:$color-headlines;

  @media only screen and (max-width: 768px) {
      font-size:30px;
      line-height: 40px;
    }

}

.slider-container{
   background-color: #000000;
  }


.footer{
  background-color: $color-headlines
}

.au-footer-logo{
  width:60%;
  padding:5% 0;
}

.no-padding{
  padding:0 !important;
}

.divider{
  color:$color-headlines;
  font-family: $header-font;
  font-weight: 300;
}

.copyright-info{
  padding:1% 0 0 0;
  background-color:  $logoBlue;

p{
  color: $backgroundGrey;
  font-size: 13px;
  line-height: 18px;
}

}

.green{
  background-color: $green;
}
.cta-text{
  color:white;
  font-family:$font-main;
  font-weight: 700;
  margin:5% 0;
  line-height: 65px;
  font-size: 55px;

  @media only screen and (max-width: 768px) {
      font-size:25px;
      line-height: 30px;
    }

}

.background-color-change{
  background-color:#636e72 !important;
  background-blend-mode: multiply;

}

.jumbotron{
  background-image: url(https://static.pexels.com/photos/48895/roof-plate-tiles-brick-black-48895.jpeg);
  background-position: 5% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0 !important;

h2{
  font-family: $header-font;
  font-size:50px;
  color:white;
  font-weight: 300;
  margin-top:0;

}

  .services-intro{
  font-family: $font-main;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: .2px;
  color:white;
}
}

.border-radius-none{
  border-radius: 0 !important;
}

.srv-roofing{
  background-color: $backgroundGrey;
}

.titles{
  font-family: $header-font;
  color: $header-font;
  margin-top: 0;
  font-size: 35px;
  font-weight: 300;
  text-transform: capitalize;
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
}

.services-image{
width: 100%;
}

.services-padding{
  padding: 3% 0;
}

.srv-painting{
  background-color: white;
}

.title-margin{
  margin:5% 0 0 0;
}

.row-padding{
  padding: 0 0 4% 0;
}

.row-padding2{
  padding: 2% 0;
}

.height-vh{
  height:50vh;
  @media only screen and (max-width: 768px) {
    height:auto;
  }
}

.contact-intro{
  font-family: $header-font;
  font-weight: 300;
  line-height: 35px;
  color:$color-headlines;
  margin-top: 0 !important;
}

.corporate-contact{
  font-family: $header-font;
  font-weight: 300;
font-size: 24px;
  color:$color-headlines;
  margin-bottom: 1%;

}

.padding-bottom{
  padding-bottom: 2%;
}
.height-vh2{
  height: 85vh;
}
